.gradle/
*.log
log.txt
*.tags
dump.rdb
out/
build/
logs/
@logDir@/
@logsDir@/
.DS_Store
WEB-INF/page/
WEB-INF/static/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
