<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

    <script src="/js/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $.ajax({
            url: '/ajax-test',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({name: 'Biao'})
        })
        .done(function(result) {
            $('#info').text(JSON.stringify(result));
        })
        .fail(function(error) {
            console.log('Error');
            console.log(error);
        })
        .always(function() {
            console.log("complete");
        });
    });
    </script>
</head>
<body>
    你好，欢迎光临

    <button>按钮</button>
    <div id="info">
        欢迎
    </div>
</body>
</html>
