<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <script src="/js/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('button').click(function() {
            $.ajax({
                url:  'ajax-test',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({age: 10})
            })
            .done(function(result) {
                alert("success");
                console.log(result);
            })
            .fail(function(error) {
                alert("error");
                console.log(error);
            });
        });
    });
    </script>
</head>
<body>
    你好，欢迎光临

    <button>按钮</button>
</body>
</html>
