<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="/lib/jquery.js" charset="utf-8"></script>
        <script src="/lib/jquery.form.js" charset="utf-8"></script>
    </head>
    <body>
        <form id="form">
            名字: <input type="text" name="username"><br>
            邮件: <input type="text" name="email"><br>
            文件: <input type="file" name="file"/><br>
        </form>

        <button id="submit-button">提交</button>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#submit-button').click(function(event) {
                    $('#form').ajaxSubmit({url: 'http://localhost:8080/crossDomain', type: 'POST', success: function(result) {
                        console.log(result);
                    }})
                });
            });
        </script>
    </body>
</html>
