<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.ajax-cross-origin.min.js"></script>


    <script>
        $(document).ready(function() {
            $.ajax({
                crossOrigin: true,
                url: 'http://www.google.com',
                success: function(data) {
                    $('.hi').html(data);
                }
            });
        });
    </script>
</head>

<body>
    <div class="hi">
        <button type="button" name="button"></button>

    </div>
</body>

</html>
