<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:security="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">
    <security:http auto-config="true" entry-point-ref="casEntryPoint">
        <security:custom-filter position="CAS_FILTER" ref="casFilter"/>
        <security:intercept-url pattern="/admin" access="hasRole('ADMIN')"/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="casAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        <!-- 此处为当前项目的网址 -->
        <property name="service" value="http://www.xtuer.com:8081/login/cas"/>
        <property name="sendRenew" value="false"/>
    </bean>
    <bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

    <bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
        <!-- 此处为 CAS 登陆的网址 -->
        <property name="loginUrl" value="https://www.xtuer.com:8443/cas/login"/>
        <property name="serviceProperties" ref="serviceProperties"/>
    </bean>

    <bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
        <property name="authenticationUserDetailsService">
            <bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <constructor-arg ref="userService"/>
            </bean>
        </property>
        <property name="serviceProperties" ref="serviceProperties"/>
        <property name="ticketValidator">
            <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <constructor-arg index="0" value="https://www.xtuer.com:8443/cas"/>
            </bean>
        </property>
        <property name="key" value="an_id_for_this_auth_provider_only"/>
    </bean>

    <security:user-service id="userService">
        <!-- 这里的密码没有什么用，可以随便填，但是角色 authorities 是需要的 -->
        <!-- CAS 只管理用户名和密码用于登陆，角色，权限等是各子系统自己管理 -->
        <!-- 如果 CAS 管理权限等，那么 CAS 需要提供接口，userService 使用接口获取权限 -->
        <security:user name="admin" password="----" authorities="ROLE_ADMIN"/>
        <security:user name="alice" password="----" authorities="ROLE_USER"/>
    </security:user-service>
</beans>
