<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>单题管理</title>
    <link rel="stylesheet" href="/lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/adminQuestions.css">
</head>

<body>
    <!-- [1] 菜单栏 -->
    <div class="ui left vertical inverted visible sidebar labeled icon menu">
        <a class="item" href="/adminPapers"><i class="share alternate square icon"></i> 套卷</a>
        <a class="item" href="/adminKnowledgePoints"><i class="sitemap icon"></i> 知识点</a>
        <a class="item" href="/adminQuestions"><i class="sitemap icon"></i> 单题</a>
    </div>

    <!-- [2] 单题的知识点树 -->
    <div class="question-knowledge-point-tree-sidebar">
        <ul id="question-knowledge-point-tree" class="ztree"></ul>
    </div>

    <!-- 目录树的右键菜单 -->
    <ul id="question-knowledge-point-tree-menu">
        <li id="menu-item-expand-all">全部展开</li>
    </ul>

    <!-- [3] 网页的主要部分 -->
    <div class="main ui">
        <!-- 工具栏 -->
        <div class="ui grid" id="tool-bar" style="margin: 0;">
            <div class="ui column">
                <button class="ui right floated circular basic button" id="export-marked-questions-button">导出标记过的题目信息</button>
            </div>
        </div>

        <!-- 知识点列表 -->
        <div class="ui sixteen wide column">
            <div id="vue-questions" data-knowledge-point-id="0" style="padding: 10px;">
                <div class="ui segments question" v-for="(question, index) in questions" :key="question.idText">
                    <div class="ui segment content">
                        <a class="ui black circular label" style="float:left; margin-top: -3px;">{{(pageNumber-1)*pageSize + index + 1}}</a>
                        <span v-html="question.content"></span>
                    </div>
                    <div class="ui secondary segment answer">
                        <div class="ui horizontal label">标准答案:</div>
                        <span v-html="question.answer"></span>
                    </div>
                    <div class="ui secondary segment analysis">
                        <div class="ui horizontal label">答案解析:</div><br><br>
                        <p v-html="question.analysis"></p>
                    </div>
                    <div class="mark">
                        <div class="ui horizontal label">乐教乐学题号: {{question.subjectCode}}-{{question.originalId}}</div>
                        <div class="ui horizontal label">教学要求: {{question.demand}}</div>
                        <div class="ui horizontal label">难度: {{question.difficulty}}</div>
                        <div class="ui horizontal label">分值: {{question.score}}</div>
                        <i class="thumbs down icon" :class="{outline: !question.marked}" @click="toggleQuestionMark(question)"></i>
                    </div>
                </div>

                <center v-show="questions.length==0">没有题目</center>

                <!-- 分页插件 -->
                <center v-show="pageCount > 1">
                    <!-- 分页组件，inline-block 是为了居中显示 -->
                    <div id="paginator" style="display: inline-block;"></div>
                </center>
            </div>
        </div>
    </div>

    <script src="/lib/require.js"></script>
    <script src="/js/requireConfig.js"></script>
    <script src="/js/adminQuestions.js" charset="utf-8"></script>
</body>

</html>
