<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>知识点管理</title>
    <link rel="stylesheet" href="/lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/adminKnowledgePoints.css">
</head>

<body>
    <!-- [1] 菜单栏 -->
    <div class="ui left vertical inverted visible sidebar labeled icon menu">
        <a class="item" href="/adminPapers"><i class="share alternate square icon"></i> 套卷</a>
        <a class="item" href="/adminKnowledgePoints"><i class="sitemap icon"></i> 知识点</a>
        <a class="item" href="/adminQuestions"><i class="sitemap icon"></i> 单题</a>
    </div>

    <!-- [2] 知识点树 -->
    <div class="knowledge-point-group-tree-sidebar">
        <ul id="knowledge-point-group-tree" class="ztree"></ul>
    </div>

    <!-- 知识点树的右键菜单 -->
    <ul id="knowledge-point-group-tree-menu">
        <li class="menu-item create">新建分类</li>
        <li class="menu-item delete">删除分类</li>
        <li class="menu-item rename">重命名</li>
    </ul>

    <!-- [3] 网页的主要部分 -->
    <div class="main ui">
        <!-- 工具栏 -->
        <div class="ui grid" id="toolbar">
            <div class="ui column" v-show="knowledgePointGroupId!==0">
                <div class="ui labeled icon button" @click="create()"><i class="icon plus"></i>添加知识点</div>
            </div>
        </div>

        <!-- 知识点列表 -->
        <div class="ui sixteen wide column">
            <div id="vue-knowledge-points" data-knowledge-point-group-id="0">
                <a class="ui tag label dnd-point" v-for="(point, index) in knowledgePoints" @click="edit(point)" :key="point.knowledgePointId" :data-name="point.name" :data-id="point.knowledgePointId" :data-group-id="point.parentKnowledgePointId" :data-index="index">
                    {{point.name}} &nbsp;&nbsp;<i class="icon remove" @click.stop="remove(index)"></i>
                </a>
            </div>
        </div>
    </div>

    <script src="/lib/require.js"></script>
    <script src="/js/requireConfig.js"></script>
    <script src="/js/adminKnowledgePoints.js" charset="utf-8"></script>
</body>

</html>
