<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>套卷管理</title>
    <link rel="stylesheet" href="/lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/adminPapers.css">
</head>

<body>
    <!-- [1] 菜单栏 -->
    <div class="ui left vertical inverted visible sidebar labeled icon menu">
        <a class="item" href="/adminPapers"><i class="share alternate square icon"></i> 套卷</a>
        <a class="item" href="/adminKnowledgePoints"><i class="sitemap icon"></i> 知识点</a>
        <a class="item" href="/adminQuestions"><i class="sitemap icon"></i> 单题</a>
    </div>

    <!-- [2] 目录树 -->
    <div class="directory-tree-sidebar">
        <ul id="directory-tree" class="ztree"></ul>
    </div>

    <!-- 目录树的右键菜单 -->
    <ul id="directory-tree-menu">
        <li id="menu-item-create">新建文件夹</li>
        <li id="menu-item-delete">删除文件夹</li>
        <li id="menu-item-rename">重命名</li>
        <hr>
        <li id="menu-item-expand-all">全部展开</li>
        <li id="menu-item-refresh-count">刷新数量</li>
    </ul>

    <!-- [3] 网页的主要部分 -->
    <div class="main">
        <!-- 工具栏 -->
        <div class="ui grid" id="tool-bar">
            <div class="ui column">
                <button class="ui right floated circular basic button" id="open-export-dialog-button">导出</button>
                <div class="toggle-buttons">
                    <div class="ui labeled icon button" id="popup-choose-papers-dialog-button"><i class="icon plus"></i>添加试卷</div>
                    <div class="ui labeled icon button" id="show-konwledge-points"><i class="icon tags"></i>所有知识点</div>
                </div>
            </div>
        </div>

        <div class="ui one column grid" id="vue-knowledge-points">
            <div class="ui column">
                <div class="ui segment">
                    <a class="ui tag label" :class="{checked: point.checked}" v-for="point in knowledgePoints" @click="showPapers(point, $event)" :key="point.knowledgePointId" v-text="point.name"></a>
                    <span v-show="knowledgePoints.length==0">没有知识点</span>
                </div>
            </div>
        </div>

        <!-- 试卷列表，使用 card 显示试卷 -->
        <!-- <div class="ui five column grid" id="vue-papers">
            <div class="ui column" v-for="(paper, index) in papers" :data-id="paper.paperId" :key="paper.paperId">
                <div class="ui card">
                    <div class="dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    {{paper.originalName}}
                                    <hr>
                                    {{knowledgePointsString(paper.knowledgePoints)}}
                                </div>
                            </div>
                        </div>
                        <img src="/img/default.jpg">
                    </div>
                    <div class="content">
                        <div class="description elide" v-text="paper.name"></div>
                    </div>
                    <div class="extra content">
                        <i class="icon move" :data-id="paper.paperId" :data-paper-directory-id="paper.paperDirectoryId" :data-index="index" :data-name="paper.name"></i>
                        <i class="icon edit" @click="editPaper(index)"></i>
                        <i class="icon tags" :data-content="knowledgePointsString(paper.knowledgePoints)"></i>
                        <span class="elide" style="float: right;" v-html="paper.subject"></span>
                    </div>
                </div>
            </div>

            <div v-show="papers.length===0">当前目录没有试卷或则还没有选择目录</div>
        </div> -->
        <!-- 试卷列表，使用 table 显示试卷 -->
        <div class="" id="vue-papers">
            <table class="ui compact selectable celled table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>试卷名称</th>
                        <th>试卷年份</th>
                        <th>所属地区</th>
                        <th>试卷来源</th>
                        <th>试卷类型</th>
                        <th>试卷科目</th>
                        <th>审核状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(paper, index) in papers" :data-id="paper.paperId" :key="paper.paperId">
                        <td class="dnd-paper-name elide" v-text="paper.name" @click="editPaper(paper)" style="cursor: pointer; max-width: 500px;" :data-id="paper.paperId" :data-paper-directory-id="paper.paperDirectoryId" :data-index="index" :data-name="paper.name"></td>
                        <td class="collapsing" v-text="paper.publishYear"></td>
                        <td class="collapsing" v-text="paper.region"></td>
                        <td class="collapsing" v-text="paper.paperFrom"></td>
                        <td class="collapsing" v-text="paper.paperType"></td>
                        <td class="collapsing" v-text="paper.subject"></td>
                        <td class="collapsing" :class="{reject: paper.status==2, pass: paper.status==1, unhandle: paper.status==0}">{{paper.status | statusText}}</td>
                        <!-- <td class="collapsing">
                            <i class="icon move" :data-id="paper.paperId" :data-paper-directory-id="paper.paperDirectoryId" :data-index="index" :data-name="paper.name"></i>
                            <i class="icon write square" @click="editPaper(index)"></i>
                            <i class="icon drupal" @click="previewPaper(paper)"></i>
                            <i class="icon tags" :data-content="knowledgePointsString(paper.knowledgePoints)"></i>
                            <i class="icon cloud download" @click="downloadPaper(paper)"></i>
                        </td> -->
                    </tr>
                </tbody>
            </table>

            <!-- 分页插件 -->
            <center v-show="pageCount > 1">
                <!-- 分页组件，inline-block 是为了居中显示 -->
                <div id="paginator" style="display: inline-block;"></div>
            </center>
        </div>
    </div> <!-- main end -->

    <!-- Dialogs -->
    <!-- 试卷选择对话框 -->
    <div id="choose-papers-dialog">
        <div class="ui one column grid" id="vue-choose-papers">
            <div class="ui column">
                <!-- 选择学科 -->
                <div class="ui left action input" style="width: 100%;">
                    <select class="ui compact selection dropdown" v-model="subject">
                        <option value="高中语文">高中语文</option>
                        <option value="高中数学">高中数学</option>
                        <option value="高中英语">高中英语</option>
                        <option value="高中政治">高中政治</option>
                        <option value="高中物理">高中物理</option>
                        <option value="高中化学">高中化学</option>
                        <option value="高中历史">高中历史</option>
                        <option value="高中地理">高中地理</option>
                        <option value="高中生物">高中生物</option>
                    </select>
                    <input type="text" placeholder="搜索……" v-model.trim="nameFilter" @keyup.enter="findPapers()" style="border-radius: 0;">
                    <div type="submit" class="ui button" @click="findPapers()" style="border-radius: 0 .28571429rem .28571429rem 0;">搜索</div>
                </div>
            </div>

            <div class="ui column">
                <!-- 搜索得到的试卷 -->
                <div class="ui segment" :class="segmentClass(index)" v-for="(paper, index) in papers" :key="paper.paperId">
                    <div class="ui checkbox" @click="selectPaper(paper)">
                        <!-- <input type="checkbox" v-model="paper.checked"> v-model 有 bug -->
                        <input type="checkbox">
                        <label v-html="paper.name"></label>
                    </div>
                </div>
                <div v-show="papers.length==0">没有符合条件的试卷...</div>
            </div>
        </div>
    </div>

    <!-- 试卷编辑对话框 -->
    <div id="paper-editor-dialog">
        <div id="vue-paper-editor" class="ui grid">
            <div class="ten wide column">
                <div class="ui form">
                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui label">试卷名称</div>
                            <input type="text" v-model="paper.name">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui calendar" id="year-chooser">
                                <div class="ui labeled input icon">
                                    <div class="ui label">试卷年份</div>
                                    <i class="calendar icon"></i>
                                    <input type="text" id="publish-year" v-model="paper.publishYear" placeholder="年" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div id="paper-status" class="ui floating dropdown labeled icon button" style="width: 100%;">
                                <i class="protect icon"></i>
                                <span class="text">审核状态</span>
                                <div class="menu">
                                    <div class="item" data-value="0">未处理</div>
                                    <div class="item" data-value="1">已通过</div>
                                    <div class="item" data-value="2">未通过</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">试卷科目</div>
                                <input type="text" v-model="paper.subject" placeholder="无" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">所属地区</div>
                                <input type="text" v-model="paper.region" placeholder="无" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">试卷来源</div>
                                <input type="text" v-model="paper.paperFrom" placeholder="无" readonly>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui labeled input">
                                <div class="ui label">试卷类型</div>
                                <input type="text" v-model="paper.paperType" placeholder="无" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui label">试卷描述</div>
                            <textarea v-model="paper.description" row="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="six wide column" style="display: flex; flex-direction: column; padding-left: 0;">
                <div class="ui two top attached buttons">
                    <div class="ui button" @click="openKnowledgePointsChooser()">选择知识点</div>
                </div>

                <div class="ui bottom attached segment" style="flex: 1; overflow: auto;">
                    <a class="ui label" v-for="point in paper.knowledgePoints" style="margin-bottom: 5px;">
                    {{point.name}}
                    <i class="delete icon" @click="removeKnowledgePointFromPaper(point)"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 知识点选中对话框 -->
    <div id="knowledge-points-dialog" style="display: none;">
        <div id="vue-knowledge-points-chooser" style="display: flex; align-items: stretch; height: 250px; border-bottom: 1px solid #DADADA;">
            <!-- 知识点分类树 -->
            <div class="" style="width: 200px; border-right: 1px solid #DADADA; overflow: auto;">
                <ul id="read-only-knowledge-point-group-tree" class="ztree"></ul>
            </div>
            <!-- 知识点 -->
            <div class="" style="flex: 1; overflow: auto;">
                <template v-for="(point, index) in knowledgePoints">
                    <a class="ui label" @click="choose(point, $event)" :key="point.knowledgePointId">
                        {{point.name}}
                    </a>
                </template>
            </div>
        </div>
    </div>

    <!-- 导出对话框 -->
    <div id="export-papers-dialog">
        <div class="ui dimmer">
            <div class="ui indeterminate text loader">导出……</div>
        </div>
        <ul id="export-paper-directories-tree" class="ztree"></ul>
    </div>

    <script src="/lib/require.js"></script>
    <script src="/js/requireConfig.js"></script>
    <script src="/js/adminPapers.js"></script>
</body>

</html>
