<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 非常重要：必须是 Mapper 类的全路径 -->
<mapper namespace="com.xtuer.mapper.ProductMapper">
    <!-- 使用产品 ID 作为条件，锁住产品 -->
    <select id="lockProduct" resultType="int">
        SELECT id FROM product WHERE id = #{id} FOR UPDATE
    </select>

    <!-- 查询指定 ID 产品的数量 -->
    <select id="findProductCount" resultType="int">
        SELECT count FROM product WHERE id = #{id}
    </select>

    <!-- 更新产品的数量 -->
    <update id="updateProductCount">
        UPDATE product SET count = #{count} WHERE id = #{id}
    </update>
</mapper>
