<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 非常重要：必须是 Mapper 类的全路径 -->
<mapper namespace="com.exam.mapper.exam.ExamMapper">
    <!-- 考试的列 -->
    <sql id="exam_columns">
        id, paper_id, clazz_id, title, start_time, end_time, duration, max_times, highest_score, lowest_score, average_score, pass_rate
    </sql>

    <!-- 使用 ID 查找考试 -->
    <select id="findExamById" resultType="Exam">
        SELECT <include refid="exam_columns"/> FROM exam WHERE id = #{examId}
    </select>

    <!-- 统计用户某次考试的考试记录数量 -->
    <select id="countExamRecords" resultType="int">
        SELECT count(1) FROM exam_record WHERE user_id = #{userId} AND exam_id = #{examId}
    </select>

    <!-- 创建或更新考试 -->
    <insert id="upsertExam" parameterType="Exam">
        INSERT INTO exam (id, paper_id, clazz_id, title, start_time, end_time, duration, max_times)
        VALUES (#{id}, #{paperId}, #{clazzId}, #{title}, #{startTime}, #{endTime}, #{duration}, #{maxTimes})

        ON DUPLICATE KEY
        UPDATE paper_id = #{paperId}, clazz_id = #{clazzId}, title = #{title},
               start_time = #{startTime}, end_time = #{endTime}, duration = #{duration}, max_times = #{maxTimes}
    </insert>

    <!-- 使用 ID 查找考试记录 -->
    <select id="findExamRecordById" resultType="ExamRecord">
        SELECT id, user_id, exam_id, paper_id, status, elapsed_time, rank, score, submitted_time
        FROM exam_record WHERE id = #{examRecordId}
    </select>

    <!-- 创建考试记录 -->
    <insert id="insertExamRecord">
        INSERT INTO exam_record (id, user_id, exam_id, paper_id)
        VALUES (#{id}, #{userId}, #{examId}, #{paperId})
    </insert>
</mapper>
