body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

.main {
    margin-left: 102px;
    padding: 20px;
}

.ui.tag.label, .ui.tag.label:first-child {
    margin: 0 1rem 1rem 1rem;
}

#knowledge-point-group-editor-dialog,
#knowledge-point-editor-dialog {
    padding: 1rem;
    display: none;
}

#knowledge-point-group-editor-dialog .ui.input {
    display: none;
}

#knowledge-point-group-editor-dialog .icon:hover {
    color: darkred;
    cursor: pointer;
}

#knowledge-point-group-editor-dialog td {
    cursor: default;
}

#vue-toolbar .ui.buttons {
    margin-right: 1rem !important;
}
