body {
    position: relative;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

.directory-tree-side-bar {
    position: fixed;
    top: 0;
    left: 103px;
    width: 250px;
    bottom: 0;
    border-right: 1px solid #DADADA;
    overflow: auto;
    /*z-index: 1;*/
}

.main {
    position: fixed;
    top: 0;
    left: 355px;
    right: 0;
    bottom: 0;
    overflow: auto;
    /*z-index: 1;*/
}

#tool-bar {
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
}

#tool-bar.ui.grid>.column:not(.row) {
    padding-bottom: 0;
}

#choose-papers-dialog {
    display: none;
    padding: 1rem;
}

#paper-editor-dialog {
    display: none;
    padding: 1rem;
}

#vue-papers {
    margin: 0em;
    padding: 1em;
}

#vue-papers .ui.card {
    box-shadow: 0 0px 3px 0 #CCC;
}

#vue-papers td {
    min-width: 80px;
}

#vue-papers .icon {
    cursor: pointer;
}

#vue-papers .ui.card .dimmer {
    cursor: default;
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
}

#vue-papers .ui.card .dimmable .content {
    padding: 5px;
}

#directory-tree {
    min-height: 100px;
}

#directory-tree-menu {
    position:absolute;
    top:0;
    display: none;
    margin: 0;
    padding: 6px 0;
    text-align: left;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    background-color: #EEE;
    box-shadow: 0 0 10px #AAA;
    z-index: 100000;
}

#directory-tree-menu li {
    padding: 2px 15px;
	list-style: none outside none;
	cursor: default;
    color: #666;
}
#directory-tree-menu li:hover {
    color: #EEE;
    background-color: #666;
}

li#menu-item-delete, li#menu-item-rename {
    margin-top: 1px;
}

#vue-choose-papers .ui.column {
    padding-bottom: 0;
}

#vue-choose-papers .selection.dropdown {
    min-width: 150px;
}

/* 文本只显示在一行，溢出时显示三个小点 */
.elide {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tool-bar .toggle-buttons {
    /*display: none;*/
}

#vue-knowledge-points {
    display: none;
}

#vue-knowledge-points .tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

#vue-knowledge-points .tag.checked {
    background: darkgrey;
}

#year-chooser .ui.label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#year-chooser input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0;
}

.count {
    color: #AAA;
}

.layui-layer-rim {
    border-radius: 2px !important;
}
