body {
    position: relative;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

.directory-tree-side-bar {
    position: fixed;
    top: 0;
    left: 103px;
    width: 250px;
    bottom: 0;
    border-right: 1px solid #DADADA;
    overflow: auto;
    /*z-index: 1;*/
}

.main {
    position: fixed;
    top: 0;
    left: 355px;
    right: 0;
    bottom: 0;
    overflow: auto;
    /*z-index: 1;*/
}

#tool-bar {
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
}

#tool-bar.ui.grid>.column:not(.row) {
    padding-bottom: 0;
}

#choose-papers-dialog {
    display: none;
    padding: 1rem;
}

#vue-papers {
    margin: 0em;
    padding: 1em;
}

#vue-papers .ui.card {
    /*box-shadow: 0 1px 3px 0 #D4D4D5;*/
}

#vue-papers .ui.card .dimmer {
    border-top-left-radius: .28571429rem;
    border-top-right-radius: .28571429rem;
}

#vue-papers .ui.card .dimmable .content {
    padding: 5px;
}

#directory-tree {
    min-height: 100px;
}

#directory-tree-menu {
    position:absolute;
    top:0;
    display: none;
    margin: 0;
    padding: 6px 0;
    text-align: left;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    background-color: #EEE;
    box-shadow: 0 0 10px #AAA;
}

#directory-tree-menu li {
    padding: 2px 15px;
	list-style: none outside none;
	cursor: default;
    color: #666;
}
#directory-tree-menu li:hover {
    color: #EEE;
    background-color: #666;
}

li#menu-item-delete, li#menu-item-rename {
    margin-top: 1px;
}

#vue-choose-papers .ui.column {
    padding-bottom: 0;
}

/* 文本只显示在一行，溢出时显示三个小点 */
.elide {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
