 .node_name {
    font-size: 14px;
    margin-left: 2px;
 }

 .ztree li a {
    margin-bottom: 3px;
    margin-left: 2px;
    padding: 0 2px;
 }

.ztree li a:hover {
    text-decoration: none;
}

 .ztree, .ztree * {
    background: white;
 }

 .ztree, .ztree li a,
 .ztree li span.button::before,
 .ztree li span.button.ico_open::before,
 .ztree li span.button.ico_close::before,
 .ztree li span.button.ico_docu::before,
 span.tmpzTreeMove_arrow::before {
    color: #444;
 }

 .ztree li a.curSelectedNode {
    background-color: #666;
    color: #EEE;
    border-radius: 2px;
 }

 .ztree li a.curSelectedNode_Edit input.rename {
    font-size: 12px;
    height:18px;
    width:100px;
 }

.ztree li span.button.root_close::before {
    content: "\f054";
}

/* 隐藏 open and close icon */
.ztree li span.button.ico_open::before, .ztree li span.button.ico_close::before {
    display: none;
}

/* 展开图标 */
.ztree li span.button.roots_open::before,
.ztree li span.button.center_open::before,
.ztree li span.button.bottom_open::before {
    content: "\f068";
}

/* 关闭图标 */
.ztree li span.button.roots_close::before,
.ztree li span.button.center_close::before,
.ztree li span.button.bottom_close::before {
    content: "\f067";
}
