<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 事件发送者 -->
    <bean id="userEventPublisher" class="com.xtuer.event.publisher.UserEventPublisher"/>

    <!-- 事件监听器 -->
    <bean class="com.xtuer.event.listener.UserEventListener"/>
</beans>
