<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 非常重要：必须是 Mapper 类的全路径-->
<mapper namespace="mapper.PaperDirectoryMapper">
    <insert id="insertPaperDirectory" parameterType="PaperDirectory">
        INSERT INTO paper_directory(paper_directory_id, name, parent_paper_directory_id, tenant_code, is_deleted)
        VALUES(#{paperDirectoryId}, #{name}, #{parentPaperDirectoryId}, 'default', 0)
        ON DUPLICATE KEY UPDATE name=#{name}
    </insert>
</mapper>
