<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/login" access="permitAll"/>

        <form-login login-page="/login"
                    login-processing-url="/login"
                    default-target-url  ="/hello"
                    authentication-failure-url="/login?error=1"
                    username-parameter="username"
                    password-parameter="password"/>
        <access-denied-handler error-page="/deny"/>
        <logout logout-url="/logout" logout-success-url="/login?logout=1"/>

        <csrf disabled="true"/>
        <remember-me key="uniqueAndSecret" token-validity-seconds="2592000"/>
    </http>

    <beans:bean id="userDetailsService" class="com.xtuer.service.MyUserDetailsService"/>
    <beans:bean id="authenticationProvider" class="com.xtuer.service.MyAuthenticationProvider"/>
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="authenticationProvider"/>
        <!--<authentication-provider user-service-ref="userDetailsService">-->
            <!--<password-encoder hash="bcrypt"/>-->
        <!--</authentication-provider>-->
    </authentication-manager>
</beans:beans>
