<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
CREATE TABLE `demo` (
    `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
    `info` text,
    PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
-->
<!--namespace 非常重要：必须是 Mapper 类的全路径-->
<mapper namespace="com.xtuer.mapper.DemoMapper">
    <!--使用 id 查找 Demo-->
    <select id="findDemoById" parameterType="int" resultType="Demo">
        SELECT id, info
        FROM demo
        WHERE id=#{id}
    </select>

    <select id="findDemosByInfo" parameterType="string" resultType="Demo">
        SELECT id, info
        FROM demo
        WHERE info=#{info}
    </select>

    <!--是否存在 Demo，返回 boolean 使用 SELECT EXISTS 判断-->
    <select id="hasDemo" resultType="boolean">
        SELECT EXISTS(SELECT count(id) FROM demo)
    </select>

    <!--count(*) 会返回包含 NULL 的列，count(id) 则只包含 id 不为 NULL 的列-->
    <select id="demoCount" resultType="int">
        SELECT count(id) FROM demo
    </select>

    <!--更新 Demo-->
    <update id="updateDemo" parameterType="Demo">
        UPDATE demo SET info=#{info} WHERE id=#{id}
    </update>

    <!--useGeneratedKeys="true" keyProperty="id": demo 的 id 在插入后被赋值为自动生成的 id-->
    <insert id="insertDemo" parameterType="Demo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO demo (info) VALUES (#{info})
    </insert>
</mapper>
