<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>幸运转盘</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/fortune-wheel.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.rotate.js"></script>
	<script src="/js/constants.js"></script>
	<script type="text/javascript" src="/js/fortune-wheel.js"></script>
</head>

<body>
<div class="fortune-wheel-box">
	<canvas id="myCanvas00" width="300px" height="300px">抱歉！浏览器不支持。</canvas>
	<canvas id="myCanvas01" width="200px" height="200px">抱歉！浏览器不支持。</canvas>
	<canvas id="myCanvas02" width="200px" height="200px">抱歉！浏览器不支持。</canvas>
	<canvas id="myCanvas03" width="200px" height="200px">抱歉！浏览器不支持。</canvas>

	<button id="startButton"></button>
</div>
</html>
</body>
