<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>幸运转盘</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/fortune-wheel.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.rotate.js"></script>
	<script src="/js/constants.js"></script>
	<script type="text/javascript" src="/js/fortune-wheel.js"></script>

	<style>
	#fortune-wheel-box {
		position: relative;
		top: 50px;
		width: 360px;
		height: 360px;
		margin: 0 auto;
	}

	#wheel {
		width: 360px;
		height: 360px;
		background-image: url(/image/wheel.png);
		transform: rotate(0deg);
	}

	#run {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 103px;
		top: 104px;
		background-image: url(/image/arrow.png);
	}
	</style>
</head>

<body>
<div id="fortune-wheel-box">
	<div id="wheel"></div>
	<div id="run"></div>
</div>
</html>
</body>
