<?xml version="1.0"?>
<configuration scan="true" scanPeriod="3 seconds">
    <property name="log.base" value="/temp/logs/mix"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/log_%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="org.mybatis" level="info"/>
    <logger name="org.springframework" level="debug"/>
    <logger name="com.eduedu.ebag.mapper" level="debug"/>
    <logger name="com.github.sd4324530.fastexcel" level="off"/>
    <logger name="org.docx4j" level="info"/>
</configuration>
