<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="yamlProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
        <property name="resources">
            <list>
                <value>classpath:config.yml</value>
            </list>
        </property>
    </bean>

    <bean id="propertiesConfig" class="org.apache.commons.configuration.PropertiesConfiguration">
        <constructor-arg value="config.properties"/> <!-- 不要用 classpath: -->
    </bean>
</beans>
