<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须是接口 Mapper 的全路径 -->
<mapper namespace="com.xtuer.mapper.CommonMapper">
    <!-- 查询序列号 -->
    <select id="findSequenceByName" resultType="int">
        SELECT value FROM sequence WHERE name = #{sequenceName}
    </select>

    <!-- 获得序列号的锁 -->
    <select id="lockSequenceByName" resultType="int">
        SELECT value FROM sequence WHERE name = #{sequenceName} FOR UPDATE
    </select>

    <!-- 创建序列号 -->
    <insert id="createSequence">
        INSERT INTO sequence(name, value) VALUES (#{sequenceName}, #{value})
    </insert>

    <!-- 序列号增加 1 -->
    <update id="increaseSequenceByOne">
        UPDATE sequence SET value = value + 1 WHERE name = #{sequenceName}
    </update>

    <!-- 测试 XA 命令 -->
    <select id="xaTest" resultType="map">
        xa start 'mysql58xa'
    </select>
</mapper>
