<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 非常重要：必须是 Mapper 类的全路径 -->
<mapper namespace="com.xtuer.mapper.FileMapper">
    <!-- 使用 ID 查询上传的文件 -->
    <select id="findUploadedFileById" resultType="UploadedFile">
        SELECT id, filename, url, type, user_id FROM uploaded_file WHERE id = #{id}
    </select>

    <!-- 插入或者更新上传的文件 -->
    <insert id="upsertUploadedFile" parameterType="UploadedFile">
        INSERT INTO uploaded_file (id, filename, url, type, user_id)
        VALUES (#{id}, #{filename}, #{url}, #{type}, #{userId})

        ON DUPLICATE KEY UPDATE
            filename = #{filename}, url = #{url}, type = #{type}
    </insert>

    <!-- 更新文件的 URL -->
    <update id="updateUploadedFileUrlAndType">
        UPDATE uploaded_file SET url = #{url}, type = #{type} WHERE id = #{id}
    </update>

    <!-- 删除上传文件的记录 -->
    <delete id="deleteUploadedFileById" parameterType="long">
        DELETE FROM uploaded_file WHERE id = #{id}
    </delete>

    <!-- 查询指定 ID 的网盘文件 -->
    <select id="findDiskFileById" resultType="DiskFile">
        SELECT disk.file_id, file.filename, file.url, file.type, file.user_id, user.nickname, file.created_at
        FROM uploaded_file file
            JOIN disk ON disk.file_id = file.id
            LEFT JOIN user ON user.user_id = file.user_id
        WHERE disk.file_id = #{fileId}
    </select>

    <!-- 查询用户 的文件，如果 userId 为 0，则查询所有用户的文件 -->
    <select id="findDiskFiles" resultType="DiskFile">
        SELECT disk.file_id, file.filename, file.url, file.type, file.user_id, user.nickname, file.created_at
        FROM uploaded_file file
            JOIN disk ON disk.file_id = file.id
            LEFT JOIN user ON user.user_id = file.user_id
        <where>
            <if test="userId > 0">
                AND file.user_id = #{userId}
            </if>
            <if test="filename != null and filename !='' ">
                AND file.filename LIKE CONCAT('%', #{filename},'%')
            </if>
        </where>
        ORDER BY file.created_at DESC
        LIMIT ${page.offset}, ${page.size}
    </select>

    <!-- 把文件插入到网盘 -->
    <insert id="insertFileToDisk">
        INSERT IGNORE INTO disk(file_id) VALUES(#{fileId})
    </insert>

    <!-- 删除网盘中的文件 -->
    <delete id="deleteDiskFile">
        DELETE FROM disk WHERE file_id = #{fileId}
    </delete>
</mapper>
