<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须是接口 Mapper 的全路径 -->
<mapper namespace="com.xtuer.mapper.ImpexMapper">
    <sql id="maintenanceOrderColumns">
        mo.maintenance_order_id,
        mo.maintenance_order_sn,
        mo.service_person_id,
        user.nickname AS service_person_name,
        mo.customer_name,
        mo.maintainable,
        mo.repairable,
        mo.salesperson_name,
        mo.received_date,
        mo.product_count,
        mo.accessories,
        mo.need_certificate,
        mo.problem,
        mo.progress,
        mo.order_sn,
        mo.state,
        mo.committed,
        mo.created_at,
        mi.maintenance_order_item_id,
        mi.product_name,
        mi.product_code,
        mi.product_model
    </sql>

    <!-- 查询符合条件的维保订单 -->
    <select id="findMaintenanceOrders" resultMap="ImpexMaintenanceOrderResultMap">
        SELECT <include refid="maintenanceOrderColumns"/>
        FROM maintenance_order mo
            LEFT JOIN user ON user.user_id = mo.service_person_id
            LEFT JOIN maintenance_order_item mi ON mi.maintenance_order_id = mo.maintenance_order_id
        <where>
            <if test="filter.state >= 0">
                AND state = #{filter.state}
            </if>
            <if test="filter.maintenanceOrderSn!=null and filter.maintenanceOrderSn!='' ">
                AND maintenance_order_sn LIKE CONCAT('%', #{filter.maintenanceOrderSn},'%')
            </if>
            <if test="filter.salespersonName!=null and filter.salespersonName!='' ">
                AND salesperson_name LIKE CONCAT('%', #{filter.salespersonName},'%')
            </if>
            <if test="filter.customerName!=null and filter.customerName!='' ">
                AND customer_name LIKE CONCAT('%', #{filter.customerName},'%')
            </if>
            <if test="filter.productName!=null and filter.productName!='' ">
                AND product_name LIKE CONCAT('%', #{filter.productName},'%')
            </if>
            <if test="filter.productCode!=null and filter.productCode!='' ">
                AND product_code LIKE CONCAT('%', #{filter.productCode},'%')
            </if>
            <if test="filter.servicePersonName!=null and filter.servicePersonName!=null">
                AND user.nickname LIKE CONCAT('%', #{filter.servicePersonName},'%')
            </if>
            <if test="filter.receivedStartAt!=null and filter.receivedEndAt!=null">
                AND (received_date BETWEEN #{filter.receivedStartAt} AND #{filter.receivedEndAt})
            </if>
        </where>
        ORDER BY created_at DESC
        LIMIT ${page.offset}, ${page.count}
    </select>

    <!-- 维保订单 -->
    <resultMap id="ImpexMaintenanceOrderResultMap" autoMapping="true" type="ImpexMaintenanceOrder">
        <id property="maintenanceOrderId" column="maintenance_order_id"/>
        <result property="maintenanceOrderSn" column="maintenance_order_sn"/>
        <result property="servicePersonName" column="service_person_name"/>
        <result property="customerName" column="customer_name"/>
        <result property="salespersonName" column="salesperson_name"/>
        <result property="receivedDate" column="received_date"/>
        <result property="problem" column="problem"/>
        <result property="progress" column="progress"/>
        <result property="state" column="state"/>

        <collection property="items" resultMap="ImpexMaintenanceOrderItemResultMap"/>
    </resultMap>

    <!-- 维保订单项 -->
    <resultMap id="ImpexMaintenanceOrderItemResultMap" autoMapping="true" type="ImpexMaintenanceOrderItem">
        <id property="maintenanceOrderItemId" column="maintenance_order_item_id"/>
        <result property="productName" column="product_name"/>
        <result property="productCode" column="product_code"/>
        <result property="productModel" column="product_model"/>
    </resultMap>
</mapper>
